<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

In [ ]:
**Objectives:**
-Data Science Tools and Ecosystem
-popular languages that Data Scientists use
-commonly used libraries used by Data Scientists

In [ ]:
**Objectives:**
-Data Science Tools and Ecosystem
-popular languages that Data Scientists use
-commonly used libraries used by Data Scientists

In [ ]:
Data Science Tools and Ecosystem

In [ ]:
Some of the popular languages that Data Scientists use are:

In [ ]:
1. Python
2. R
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1. Pandas
2. Matplotlib
3. TensorFlow

In [ ]:
| Data Science Tools|
| -------------|
| Google Colab |
| Tableau |
|Apache Spark |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

In [ ]:
## Author
Sonia Espinoza